<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>
  <% if(!user) { %>
    <h1 style="text-align: center; margin: 1em;">Please log in to access this page!</h1>
    <div class="form-group" style="margin:2em;">
      <main style="margin: 2em;">
        <h2>Log in</h2>
        <div class="form-group">
          <form class="login-form" action="/login" method="POST">
            <label for="Email">Email address:</label>
            <input class="form-control" type="email" name="email" placeholder="user@example.com" style="width: 300px; margin: 1em">
            <label for="Password">Password:</label>
            <input class="form-control" type="password" name="password" style="width: 300px; margin: 1em">
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </main>
    </div>
    <h1 style="text-align: center; margin: 1em;">Create an account if you're a new user!</h1>
    <div class="form-group" style="margin:2em;">
      <main style="margin: 2em;">
        <h2>Create account</h2>
        <form class="form-group" action="/register" method="POST">
          <div class="form-group">
            <label for="Email">Email address:</label>
            <input class="form-control" type="email" name="email" placeholder="user@example.com" style="width: 300px; margin: 1em">
            <label for="Password">Password:</label>
            <input class="form-control" type="password" name="password" style="width: 300px; margin: 1em">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </main>
    </div>    
  <% } else { %>
  <main style="margin: 1em;">
    <h3>My URLs</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Short URL</th>
          <th scope="col">Long URL</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for(let url in urls) { %>
          <tr>
            <td><a href="/urls/<%= url %>"><%= url %></a></td>
            <td><a href="/u/<%= url %>"><%= urls[url]["longURL"] %></a></td>
            <td>
              <form action= "/u/<%= url %>" method="POST"> 
                  <button type="submit" class="btn btn-outline-primary">Edit</button>
              </form>
            </td>
            <td>
              <form action= "/urls/<%= url %>/delete" method="POST"> 
                  <button type="submit" class="btn btn-outline-danger">Delete</button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </main>
  <% } %>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>